.interest p {
  font-size: 20px;
  line-height: 50px;
  color: #868e96 !important;
}
.interest h2 {
  text-align: center;
}
.video {
  justify-content: space-around;
  display: flex;
  padding: 20px;
}
.interest {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
